{% extends "base.html" %}

{% load bootstrap3 %}

{% block heading %} {{ title|safe }} {% endblock %}

{% block content %}

    <div class="well">
        <h1>{{ title|safe }}</h1>

        {% if description %} 
        <div class="description"> {{ description|safe }} </div>
        {% endif %}

        <form class="form-horizontal text-center" method='POST' action="">
            {% csrf_token %}
            <!-- display the form fields -->
            {% if form.non_field_errors %} 
            <div class='alert alert-danger'>
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <td> </td>
                        {% for label in labels %}
                        <td>
                            <strong> {{ label }} </strong>
                        </td>
                        {% endfor %}
                    </tr>
                    {% for field in form %}
                        {% if field.errors %} 
                        <tr class='alert-danger'>
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>
                                <strong>{{ field.label }}</strong>
                            </td>
                            {% for radio in field %}
                            <td>
                                <span>{{ radio.tag }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td> </td>
                        {% for label in labels %}
                        <td>
                            <strong> {{ label }} </strong>
                        </td>
                        {% endfor %}
                    </tr>
            </table>
            </div>
            <!-- submit button -->
            {% buttons layout='horizontal' %}
            <button type="submit" class="btn btn-primary btn-lg">
                    Next
            </button>
            {% endbuttons %}
        </form>
    </div> <!-- well -->

{% endblock %}

