{% extends "base.html" %}

{% load bootstrap3 %}

{% block heading %} {{ title }} {% endblock %}

{% block content %}

    <div class="well">
        <center>
            <h1>{{ title }}</h1>
        </center>

        <!--
        <div class="alert alert-success">
            <strong>Well done!</strong> You have sucessfully completed the survey!
        </div>
        -->

        {% if description %}
            <div class='description'> {{ description|safe }} </div>
        {% endif %}

        <center>
            <a class="btn btn-primary btn-lg" href={{ nexturl }}>Next</a>
        </center>

    </div> <!-- well -->


{% endblock %}
