{% extends "base.html" %}

{% load bootstrap3 %}

{% block heading %} {{ title|safe }} {% endblock %}

{% block content %}

    <div class="well">
        <h1>{{ title|safe }}</h1>

        {% if description %} 
        <div class="description"> {{ description|safe }} </div>
        {% endif %}

        <form class="form-horizontal" method='POST' action="">
            {% csrf_token %}
            <!-- display the form fields -->
            {% bootstrap_form form layout="horizontal" %}

            <!-- submit button -->
            {% buttons layout='horizontal' %}
                <button type="submit" class="btn btn-primary btn-lg">
                    Next
                </button>
            {% endbuttons %}
        </form>
    </div> <!-- well -->

{% endblock %}

