{% extends "base.html" %}

{% load bootstrap3 %}

{% load static %}

{% block heading %} {{ title }} {% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class='text-center'>
            <h1>{{ title }}</h1>

            <div class="alert alert-success">
                <strong>One picture is worth a thousand words!</strong>
            </div>
        </div>

        {% if description %}
            <p class='lead'> {{ description|safe }} </p>
        {% endif %}

    </div> <!-- jumbotron -->

    <div class="container marketing">

        <div class="row featurette">
            <div class="col-md-8">
                <object class="featurette-image" data="{{ MEDIA_URL }}{{ network.path }}" 
                        type="image/svg+xml">
                </object>
            </div>
            <div class="col-md-4">
                <!-- <h2 class="featurette-heading"> {{ network.title }}</h2> -->
                <p class="lead"> {{ network.text }} </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading"> {{ node_title }}</h2>
                <p class="lead"> {{ node_intro }} </p>
            </div>
        </div>

        {% for figure in node_attrs %}
            <div class="row featurette">
                <div class="col-md-5">
                    <object class="featurette-image" data="{{ MEDIA_URL }}{{ figure.path }}" 
                            type="image/svg+xml" width="520" height="360">
                    </object>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading"> {{ figure.title }}</h2>
                    <p class="lead"> {{ figure.text }} </p>
                </div>
            </div>
        {% endfor %}

        <hr class="featurette-divider">
 
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading"> {{ edge_title }}</h2>
                <p class="lead"> {{ edge_intro }} </p>
            </div>
        </div>

        {% for figure in edge_attrs %}
            <div class="row featurette">
                <div class="col-md-5">
                    <object class="featurette-image" data="{{ MEDIA_URL }}{{ figure.path }}" 
                            type="image/svg+xml" width="520" height="360">
                    </object>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading"> {{ figure.title }}</h2>
                    <p class="lead"> {{ figure.text }} </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
